/* Archivo: que contiene 
 * las variables de 
 * colores a usar en este tema */

 /** Colores del Tema **/
$theme_pink            : #F1D6E1
$theme_pink_dark       : #E422BB

$theme_gray_claro      : #878787
$theme_gray            : #CCC
$theme_gray_superclaro : #EEEEEE

//Verdes
$theme_green_claro     : #2E8F64
$theme_green_fondo     : #107551
$theme_green_oscuro    : #006847
$theme_green_semioscuro: #50A800
$theme_green_chillon   : #A2E1C7
$theme_lemon           : #72A725
$theme_lemon_claro     : #B7E88E
//marrom
$theme_brown           : #383330

//orange
$theme_orange          : #FF5F28
$theme_orange_dark     : #AA3400

/* Redes Sociales */
$theme_facebook        : #3A5998
$theme_twitter         : #00ABF1
$theme_gplus           : #DB4B39

